<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <p>Our <%=appName%> provides materials for learning programming languages, such as <a href="/javascript">JavaScript</a>, <a href="/python">Python</a> and <a href="/cplusplus">C++</a></p>
    <p><a href="/">Go back to the main page</a></p>'
  </body>
</html>