<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <p>All of our</p>
    <p><a href="JavaScript">JavaScript</a></p>
    <p><a href="Python">Python</a></p>
    <p><a href="cplusplus">C++</a></p>
    
  </body>
</html>