<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Register for <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=appName%></h1>
    <form method="POST" action="/registered">
        <p>Username: <input id="name" type="text" name="name" placeholder="Username"/></p>
        <p>Email: <input id="email" type="email" name="email" placeholder="Email" /></p>
        <p>Create password: <input id="password" type="password" name="password" placeholder="Password"  /></p>
        <input type="submit" value="Register" />
      </form>
      <p><a href="/">Go back to the main page</a></p>
  </body>
</html>