<!doctype html>
<html>
  <head>
    <title>Search <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=appName%></h1>
    <form action ="/search-result" method="GET">
      <p>What are you looking for?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
    <p><a href="/">Go back to the main page</a></p>
  </body>
</html>