
body{
  margin: 30px;
  font-family: 'Montserrat';font-size: 22px;
}
h1 {
    font-size: 32px;
    color: rgb(55, 116, 207);
    text-align: center;
    padding: 10px;
}

h2 {
   font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,li, form {
   text-align: center;
    padding: 10px;
}

/* .database{
  text-align: left;
} */

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(55, 116, 207);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: rgb(55, 116, 207);
    text-decoration: none;
    padding:5px;
  }

  input[type=text],[type=email], input[type=password], select {
    width: 87%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color:rgb(55, 116, 207);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(22, 77, 159);
  }
